{% extends "shop/base.html" %}
{% load static %}


{% block script %}
    <script defer src="{% static 'shop/js/buttons-product-cart.js' %}"></script>

{% endblock script %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
<h1 class="text-3xl mb-5" >Your shopping cart</h1>

{% comment %} 
    the state uses Alpine.store in the file htmx-listeners 
    also you can read the docs on https://alpinejs.dev/magics/store 
{% endcomment %}

<table x-on:deleterow.window="$store.cart.deleteItem($event.detail.itemId)"
        class="text-center w-full">
    
    <thead>
        <tr class="h-14 bg-blue-500 text-white">
            <th class="d-none sm:table-cell">Image</th>

            <th>
                <span class="d-none sm:inline">Product</span>
                <span class="sm:hidden">Prod.</span>
            </th>
            <th>
                <span class="d-none sm:inline">Quantity</span>
                <span class="sm:hidden">Qnt.</span>
            </th>
            <th>
                <span class="d-none sm:inline">Remove</span>
                <span class="sm:hidden">Rmv.</span>
            </th>
            <th>
                <span class="d-none sm:inline">Unit Price</span>
                <span class="sm:hidden">Price</span>
            </th>
            <th>
                <span class="d-none sm:inline">Sub Total</span>
                <span class="sm:hidden">Total</span>
            </th>
        </tr>
    </thead>
    <tbody class="bg-blue-100">

{% for item in cart %}
    {% with product=item.product %}
    
    {% comment %}
        Each row handles a local state for make updates in the global state
    {% endcomment %}
        
    <tr class="h-40"
        x-data="{itemId: {{product.id}}, quantity: {{item.quantity}}, price: {{item.price}}, edit:false}"
        x-init="$store.cart.items.push({id: itemId, quantity: quantity, price: price})">

        <td class="d-none sm:table-cell w-1/6 p-0 sm:p-2">
            <a href="{{ product.get_absolute_url }}">
                <img    src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                        class="w-full">
            </a>
        </td>

        <td class="w-1/6"  @click="">{{ product.name }}</td>
        <td class="w-1/6">



        <span :class="edit ? 'hidden' : 'inline-block'">
            <span x-text="quantity">{{item.quantity}}</span>
            
            <button x-on:click="edit = ! edit"
                    class="p-2 rounded bg-blue-900 text-white ms-2">

                <svg fill="white" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                </svg>
            </button>  
        </span>


        <span  :class="edit ? 'inline-block' : 'hidden' " >

             {% comment %} 
                Decrement Quantity 
                trigeers method to update state  
            {% endcomment %}
            
            <button x-on:click="quantity > 1 ? --quantity : quantity; 
                                $store.cart.updateItemQuantity(quantity, itemId);" 
                    
                    class="inline-block mr-2 bg-violet-800 text-white px-2 py-1 rounded">-</button>
                
            <span   x-text="quantity"
                    class="item-quantity text-black" ></span>

            {% comment %} 
                Increment Quantity 
                trigeers method to update state
            {% endcomment %}
            <button x-on:click="++quantity;
                                $store.cart.updateItemQuantity(quantity, itemId);" 
                    
                    class="inline-block ms-2 bg-violet-800 text-white px-2 py-1 rounded">+</button>

            {% comment %} 
                SAVE item quantity on DB using HTMX 
                also hides the edition buttons 
            {% endcomment %}
            
            <button x-on:click="edit = ! edit"
                    hx-post="{% url 'cart:cart_add' product.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-swap="none"
                    hx-include="#quantity{{ product.id }}"
                    hx-vals='{"override":"True"}'
                    
                    class="inline-block ms-2 bg-violet-800 text-white px-2 py-1 rounded">Save</button>

            <input type="hidden" name="quantity" x-model="quantity" id="quantity{{ product.id }}">
        </span>
  

        </td>
        <td class="w-1/6">
            
            {% comment %} 
                shows an SWETTALERT confirmation dialogue 
                    for details you can see .delete-btn in the first lines of htmx-listeners.js 
               
                triggers a custom event that removes the row data from the state
                    for more details you can see x-on:deleterow.window at the begining of this file
               
                DELETE item on DB using HTMX
                uses the response for DELETE the row from the DOM 
            {% endcomment %}

            <button                               
                    data-rowid="{{product.id}}"
                    hx-confirm="Are you sure you want to remove the item {{product.name}} from your cart?"
                    hx-delete="{% url 'cart:cart_remove' product.id %}" 
                    hx-target="closest tr" 
                    hx-swap="outerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 

                    class="delete-btn text-white rounded p-2 bg-blue-900">
                    
                    <span class="d-none sm:inline">Remove</span>
                    <span class="sm:hidden">X</span>
            </button>
            
        </td>
        
        <td class="w-1/6 "  >$ {{ item.price }}</td>

        {% comment %}
            using local state
        {% endcomment %}
        <td class="w-1/6" >$ <span class="subtotal" x-text="(quantity * price).toFixed(2)">{{ item.total_price }}</span></td>

    </tr>
    {% endwith %}
{% endfor %}

<tr 
        class="h-14 bg-blue-500 text-white"
        id="tester">
        <td class="text-left ps-2 text-lg font-semibold">Total</td>
        <td class="sm:hidden" colspan="3"></td>
        
        <td class="d-none sm:table-cell" colspan="4"></td>
        <td class="text-right pr-2 text-lg font-semibold">
            <span>$ </span>
            <span   id="TotalCart"
                    x-text="$store.cart.totalPrice">{{ cart.get_total_price }}</span>
        </td>
    </tr>
</tbody>
</table>

<p class="text-right mt-5">
    <a 
        class="p-2 rounded  mr-2 bg-blue-300" 
        href="{% url 'shop:product_list' %}" >Continue shopping</a>

    <a class="p-2 rounded bg-blue-900 text-white " href="{% url "orders:order_create" %}" >Checkout</a>
</p>

{% endblock %}