{% extends "shop/base.html" %}
{% load static %}


{% block script %}
    <script defer src="{% static 'shop/js/buttons-product-cart.js' %}"></script>
{% endblock script %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
<h1 class="text-3xl mb-5" >Your shopping cart</h1>
<table class="text-center w-full">
    <thead>
        <tr class="h-14 bg-blue-500 text-white">
            <th class="d-none sm:table-cell">Image</th>

            <th>
                <span class="d-none sm:inline">Product</span>
                <span class="sm:hidden">Prod.</span>
            </th>
            <th>
                <span class="d-none sm:inline">Quantity</span>
                <span class="sm:hidden">Qnt.</span>
            </th>
            <th>
                <span class="d-none sm:inline">Remove</span>
                <span class="sm:hidden">Rmv.</span>
            </th>
            <th>
                <span class="d-none sm:inline">Unit Price</span>
                <span class="sm:hidden">Price</span>
            </th>
            <th>
                <span class="d-none sm:inline">Sub Total</span>
                <span class="sm:hidden">Total</span>
            </th>
        </tr>
    </thead>
<tbody class="bg-blue-100">

{% for item in cart %}
    {% with product=item.product %}
    <tr class="h-40">
        <td class="d-none sm:table-cell w-1/6 p-0 sm:p-2">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                    class="w-full"
                
                >
            </a>
        </td>

        <td class="w-1/6">{{ product.name }}</td>
        <td class="w-1/6">

        {% if item.quantity > 1 %}
            <!-- 
            <button class="inline-block p-1 text-white bg-blue-900 px-2 rounded mr-2" hx-post="{% url 'cart:cart_add' product.id %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="body"
                hx-vals='{"override":"True", "quantity": "{{ item.quantity |add:-1 }} " }'
                >-</button>
            -->


        {% endif %}
        <span id="edit-{{product.id}}">
            <span>{{item.quantity}}</span>
            <button class="p-2 rounded bg-blue-900 text-white ms-2" hx-get="{% url 'cart:cart_edit' product.id %}" hx-target="#edit-{{product.id}}">
                <svg fill="white" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                </svg>
            </button>  
        </span>
            <!-- 
            <button class="inline-block p-1 text-white bg-blue-900 px-2 rounded ms-2" hx-post="{% url 'cart:cart_add' product.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-target="body"
                    hx-vals='{"override":"True", "quantity": "{{ item.quantity |add:1 }}"}'
                    >+</button>
            -->

        </td>
        <td class="w-1/6">
            <!-- forms are not allowed as children of tr -->
            <button hx-delete="{% url "cart:cart_remove" product.id %}" hx-target="body" 
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                    hx-confirm="Are you sure you want to remove the item {{product.name}} from your cart?"
                    hx-push-url="true"
                    class="text-white rounded p-2 bg-blue-900">
                    
                    <span class="d-none sm:inline">Remove</span>
                    <span class="sm:hidden">X</span>
                </button>

            {% comment %} {% csrf_token %} {% endcomment %}
            {% comment %} <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
            </form> {% endcomment %}
        </td>
        
        <td class="w-1/6 " >${{ item.price }}</td>
        <td class="w-1/6 " >${{ item.total_price }}</td>
    </tr>
    {% endwith %}
{% endfor %}

    <tr class="h-14 bg-blue-500 text-white">
        <td class="text-left ps-2 text-lg font-semibold">Total</td>
        <td class="sm:hidden" colspan="3"></td>
        
        <td class="d-none sm:table-cell" colspan="4"></td>
        <td class="text-right pr-2 text-lg font-semibold">${{ cart.get_total_price }}</td>
    </tr>
</tbody>
</table>

<p class="text-right mt-5">
    <a class="p-2 rounded  mr-2 bg-blue-300" href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
    <a class="p-2 rounded bg-blue-900 text-white " href="#" class="button">Checkout</a>
</p>

{% endblock %}