apt-clone==0.2.1
apt-xapian-index==0.49
asgiref==3.7.2
asn1crypto==1.4.0
attrs==21.2.0
blinker==1.4
Brlapi==0.8.3
catfish==4.16.3
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
colorama==0.4.4
command-not-found==0.3
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
defusedxml==0.7.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==4.2.5
django-cors-headers==4.2.0
django-rest-framework==0.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
dnspython==2.1.0
duplicity==0.8.21
exceptiongroup==1.1.3
fasteners==0.14.1
future==0.18.2
h11==0.14.0
html5lib==1.1
httpie==2.6.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
jeepney==0.7.1
jsonschema==3.2.0
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.20.0
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
mechanize==0.4.7
menulibre==2.2.2
monotonic==1.6
more-itertools==8.10.0
mugshot==0.4.3
netifaces==0.11.0
nftables==0.1
oauthlib==3.2.0
onboard==1.4.1
outcome==1.2.0
PAM==0.4.2
pexpect==4.8.0
Pillow==9.0.1
powerline-status==2.8.2
psutil==5.9.0
ptyprocess==0.7.0
pycairo==1.20.1
pycups==2.0.1
Pygments==2.11.2
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
pyrsistent==0.18.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
pytz==2023.3.post1
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
selenium==4.14.0
simplejson==3.17.6
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
System-Monitoring-Center==1.8.0
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.8.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
urllib3==1.26.5
wadllib==1.3.6
webencodings==0.5.1
WolfLandBuilder-gtk==7.2.post10
wsproto==1.2.0
xdg==5
xkit==0.0.0
zipp==1.0.0
