@tailwind base;
@tailwind components;
@tailwind utilities;

.d-none {
    display:none;
}
/* 
.grid-col-300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.auto-rows-200 {
    grid-auto-rows: 200px;
} */