{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="{% static 'js/main.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'tailwind/tail.css' %}">
        <link rel="stylesheet" href="{% static 'general.css' %}">
        <script src="{% static 'htmx.js' %}"></script>
        {% comment %} <script src="{% static 'htmx-listeners.js' %}"></script> {% endcomment %}
        
        <!-- alpine -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <script defer src="{% static 'token.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        {% block script %}
        {% endblock script %}
        

        <title>My shop - {% block title %}{% endblock %}</title>

    </head>
    <!--  im trying to put the cart_items variable as a global state-->
    {% with cart_items=context_cart|length %}

    <body   hx-boost="false"
            x-data="{cartItems: {{cart_items}} }"
            class="max-w-screen-xl mx-auto px-3 md:px-5">
        <div id="header"
            class="py-3">
            <a href="{% url 'shop:product_list' %}" 
                class="text-2xl"
            >My shop</a>
        </div>
        <div id="subheader"
            class="bg-gray-300 mb-5 px-2 py-3 rounded">
            <div class="text-right">
                <span>Your Cart </span>
                {% if cart_items > 0 %}
                    <a href="{% url 'cart:cart_detail' %}">
                        <span>has </span>
                        <span   id="cart-items-quantity" 
                                x-text="cartItems">{{ cart_items }}</span>
                        <span> Item{{ cart_items | pluralize }}</span>
                    </a>
                {% else %}
                    <span>is empty.</span>
                {% endif %}
    {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>