{% extends "shop/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block script %}
    <script defer src="{% static 'shop/js/buttons-product-cart.js' %}"></script>
{% endblock script %}



{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail">
    <img class="sm:float-left sm:mr-3 sm:mb-1 w-full sm:w-1/2 sm:min-w-[400px] md:w-1/3" 
        src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    <h1 class="text-3xl mt-3 sm:mt-0">{{ product.name }}</h1>
    
    <h2 class="text-xl  text-blue-600">
        <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
        </a>
    </h2>

    <p class="text-3xl font-semibold my-3">${{ product.price }}</p>

    
    <button class="bg-blue-400 border-2 border-black w-8 p-1 f-family-mono font-semibold rounded-sm" onclick="qunatityDown('product_quantity')">-</button>
    
    <form class="inline" id="form-cart-product" action="{% url 'cart:cart_add' product.id %}" method="post">
        {% render_field cart_product_form.quantity id="product_quantity" class="w-10 bg-gray-400 border-2 border-black rounded-sm p-1 text-center f-family-mono font-semibold" %}
        {% render_field cart_product_form.override %}
        
        {% csrf_token %}
    </form>
    
    <button class="bg-blue-400 border-2 border-black w-8 p-1 f-family-mono font-semibold rounded-sm mr-3" onclick="quantityUp('product_quantity')">+</button>
    <button class="bg-blue-400 border-2 border-black px-3 py-1 f-family-mono font-semibold rounded-sm" type="submit" form="form-cart-product">Add to cart</button>
    
    <p class="mt-5">{{product.description}}</p>
</div>

{% endblock %}